<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zl.dao.LoginMapper">
<select id="login" resultType="User">
SELECT <include refid="colum"/> FROM t_user WHERE USERNAME=#{username} 
							AND USERTYPE=#{usertype}
							AND PWD=#{pwd}
</select>
<!-- User表的各个字段表 -->
<sql id="colum">
ID,celephone,username,usertype,state,pwd
</sql>
</mapper>